jmonkey-java-xtracker/main/etc/xplanner/XPlanner.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner" xmlns:tns3="http://db.xplanner.technoetic.com" xmlns:impl="http://dev.pappin.ca/xplanner-dev/soap/XPlanner" xmlns:intf="http://dev.pappin.ca/xplanner-dev/soap/XPlanner" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://domain.soap.xplanner.technoetic.com" xmlns:tns1="http://xplanner.org/soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<!--WSDL created by Apache Axis version: 1.2RC2
Built on Nov 16, 2004 (12:19:44 EST)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.apache.org/xml-soap">
   <import namespace="http://xplanner.org/soap"/>
   <import namespace="http://domain.soap.xplanner.technoetic.com"/>
   <import namespace="http://db.xplanner.technoetic.com"/>
   <import namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element name="item" minOccurs="0" maxOccurs="unbounded" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://domain.soap.xplanner.technoetic.com">
   <import namespace="http://xplanner.org/soap"/>
   <import namespace="http://db.xplanner.technoetic.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="DomainData">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="lastUpdateTime" nillable="true" type="xsd:dateTime"/>
    </sequence>
   </complexType>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xplanner.org/soap">
   <import namespace="http://domain.soap.xplanner.technoetic.com"/>
   <import namespace="http://db.xplanner.technoetic.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="TaskData">
    <complexContent>
     <extension base="tns2:DomainData">
      <sequence>
       <element name="acceptorId" type="xsd:int"/>
       <element name="actualHours" type="xsd:double"/>
       <element name="adjustedEstimatedHours" type="xsd:double"/>
       <element name="completed" type="xsd:boolean"/>
       <element name="createdDate" nillable="true" type="xsd:dateTime"/>
       <element name="description" nillable="true" type="soapenc:string"/>
       <element name="dispositionName" nillable="true" type="soapenc:string"/>
       <element name="estimatedHours" type="xsd:double"/>
       <element name="name" nillable="true" type="soapenc:string"/>
       <element name="originalEstimatedHours" type="xsd:double"/>
       <element name="remainingHours" type="xsd:double"/>
       <element name="storyId" type="xsd:int"/>
       <element name="type" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProjectData">
    <complexContent>
     <extension base="tns2:DomainData">
      <sequence>
       <element name="description" nillable="true" type="soapenc:string"/>
       <element name="name" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="IterationData">
    <complexContent>
     <extension base="tns2:DomainData">
      <sequence>
       <element name="actualHours" type="xsd:double"/>
       <element name="addedHours" type="xsd:double"/>
       <element name="adjustedEstimatedHours" type="xsd:double"/>
       <element name="daysWorked" type="xsd:double"/>
       <element name="description" nillable="true" type="soapenc:string"/>
       <element name="endDate" nillable="true" type="xsd:dateTime"/>
       <element name="estimatedHours" type="xsd:double"/>
       <element name="name" nillable="true" type="soapenc:string"/>
       <element name="overestimatedHours" type="xsd:double"/>
       <element name="postponedHours" type="xsd:double"/>
       <element name="projectId" type="xsd:int"/>
       <element name="remainingHours" type="xsd:double"/>
       <element name="startDate" nillable="true" type="xsd:dateTime"/>
       <element name="statusKey" nillable="true" type="soapenc:string"/>
       <element name="underestimatedHours" type="xsd:double"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="PersonData">
    <complexContent>
     <extension base="tns2:DomainData">
      <sequence>
       <element name="email" nillable="true" type="soapenc:string"/>
       <element name="initials" nillable="true" type="soapenc:string"/>
       <element name="name" nillable="true" type="soapenc:string"/>
       <element name="phone" nillable="true" type="soapenc:string"/>
       <element name="userId" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoteData">
    <complexContent>
     <extension base="tns2:DomainData">
      <sequence>
       <element name="attachedToId" type="xsd:int"/>
       <element name="attachmentId" type="xsd:int"/>
       <element name="authorId" type="xsd:int"/>
       <element name="body" nillable="true" type="soapenc:string"/>
       <element name="subject" nillable="true" type="soapenc:string"/>
       <element name="submissionTime" nillable="true" type="xsd:dateTime"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UserStoryData">
    <complexContent>
     <extension base="tns2:DomainData">
      <sequence>
       <element name="actualHours" type="xsd:double"/>
       <element name="adjustedEstimatedHours" type="xsd:double"/>
       <element name="completed" type="xsd:boolean"/>
       <element name="customerId" type="xsd:int"/>
       <element name="description" nillable="true" type="soapenc:string"/>
       <element name="dispositionName" nillable="true" type="soapenc:string"/>
       <element name="estimatedHours" type="xsd:double"/>
       <element name="iterationId" type="xsd:int"/>
       <element name="name" nillable="true" type="soapenc:string"/>
       <element name="originalEstimatedHours" type="xsd:double"/>
       <element name="postponedHours" type="xsd:double"/>
       <element name="priority" type="xsd:int"/>
       <element name="remainingHours" type="xsd:double"/>
       <element name="trackerId" type="xsd:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="TimeEntryData">
    <complexContent>
     <extension base="tns2:DomainData">
      <sequence>
       <element name="duration" type="xsd:double"/>
       <element name="endTime" nillable="true" type="xsd:dateTime"/>
       <element name="person1Id" type="xsd:int"/>
       <element name="person2Id" type="xsd:int"/>
       <element name="reportDate" nillable="true" type="xsd:dateTime"/>
       <element name="startTime" nillable="true" type="xsd:dateTime"/>
       <element name="taskId" type="xsd:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner">
   <import namespace="http://xplanner.org/soap"/>
   <import namespace="http://domain.soap.xplanner.technoetic.com"/>
   <import namespace="http://db.xplanner.technoetic.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_IterationData">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:IterationData[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_UserStoryData">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:UserStoryData[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_TaskData">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:TaskData[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_TimeEntryData">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:TimeEntryData[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_PersonData">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:PersonData[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_ProjectData">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:ProjectData[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_NoteData">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:NoteData[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://db.xplanner.technoetic.com">
   <import namespace="http://xplanner.org/soap"/>
   <import namespace="http://domain.soap.xplanner.technoetic.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="QueryException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateRequest6">

      <wsdl:part name="object" type="tns1:TimeEntryData"/>

   </wsdl:message>

   <wsdl:message name="removeIterationRequest">

      <wsdl:part name="id" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getPeopleRequest">

   </wsdl:message>

   <wsdl:message name="removePersonResponse">

   </wsdl:message>

   <wsdl:message name="setAttributeResponse">

   </wsdl:message>

   <wsdl:message name="getPlannedTasksForPersonResponse">

      <wsdl:part name="getPlannedTasksForPersonReturn" type="impl:ArrayOf_tns1_TaskData"/>

   </wsdl:message>

   <wsdl:message name="getAttributesWithPrefixRequest">

      <wsdl:part name="objectId" type="xsd:int"/>

      <wsdl:part name="prefix" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="updateResponse1">

   </wsdl:message>

   <wsdl:message name="deleteAttributeRequest">

      <wsdl:part name="objectId" type="xsd:int"/>

      <wsdl:part name="key" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="addProjectResponse">

      <wsdl:part name="addProjectReturn" type="tns1:ProjectData"/>

   </wsdl:message>

   <wsdl:message name="getAttributesWithPrefixResponse">

      <wsdl:part name="getAttributesWithPrefixReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="updateResponse5">

   </wsdl:message>

   <wsdl:message name="getTaskResponse">

      <wsdl:part name="getTaskReturn" type="tns1:TaskData"/>

   </wsdl:message>

   <wsdl:message name="addPersonRequest">

      <wsdl:part name="object" type="tns1:PersonData"/>

   </wsdl:message>

   <wsdl:message name="removeTimeEntryResponse">

   </wsdl:message>

   <wsdl:message name="updateRequest4">

      <wsdl:part name="note" type="tns1:NoteData"/>

   </wsdl:message>

   <wsdl:message name="getProjectsResponse">

      <wsdl:part name="getProjectsReturn" type="impl:ArrayOf_tns1_ProjectData"/>

   </wsdl:message>

   <wsdl:message name="getPersonResponse">

      <wsdl:part name="getPersonReturn" type="tns1:PersonData"/>

   </wsdl:message>

   <wsdl:message name="getTimeEntriesRequest">

      <wsdl:part name="containerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="removeUserStoryRequest">

      <wsdl:part name="id" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="setAttributeRequest">

      <wsdl:part name="objectId" type="xsd:int"/>

      <wsdl:part name="key" type="soapenc:string"/>

      <wsdl:part name="value" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getAttributeRequest">

      <wsdl:part name="objectId" type="xsd:int"/>

      <wsdl:part name="key" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getPlannedTasksForPersonRequest">

      <wsdl:part name="personId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getTaskRequest">

      <wsdl:part name="id" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addProjectRequest">

      <wsdl:part name="project" type="tns1:ProjectData"/>

   </wsdl:message>

   <wsdl:message name="getTimeEntriesResponse">

      <wsdl:part name="getTimeEntriesReturn" type="impl:ArrayOf_tns1_TimeEntryData"/>

   </wsdl:message>

   <wsdl:message name="getProjectRequest">

      <wsdl:part name="id" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getAttributesRequest">

      <wsdl:part name="objectId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addNoteRequest">

      <wsdl:part name="note" type="tns1:NoteData"/>

   </wsdl:message>

   <wsdl:message name="getCurrentTasksForPersonResponse">

      <wsdl:part name="getCurrentTasksForPersonReturn" type="impl:ArrayOf_tns1_TaskData"/>

   </wsdl:message>

   <wsdl:message name="getCurrentIterationRequest">

      <wsdl:part name="projectId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addNoteResponse">

      <wsdl:part name="addNoteReturn" type="tns1:NoteData"/>

   </wsdl:message>

   <wsdl:message name="updateResponse4">

   </wsdl:message>

   <wsdl:message name="addTimeEntryRequest">

      <wsdl:part name="timeEntry" type="tns1:TimeEntryData"/>

   </wsdl:message>

   <wsdl:message name="addUserStoryRequest">

      <wsdl:part name="story" type="tns1:UserStoryData"/>

   </wsdl:message>

   <wsdl:message name="getUserStoryResponse">

      <wsdl:part name="getUserStoryReturn" type="tns1:UserStoryData"/>

   </wsdl:message>

   <wsdl:message name="getUserStoryRequest">

      <wsdl:part name="id" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getCurrentIterationResponse">

      <wsdl:part name="getCurrentIterationReturn" type="tns1:IterationData"/>

   </wsdl:message>

   <wsdl:message name="getIterationResponse">

      <wsdl:part name="getIterationReturn" type="tns1:IterationData"/>

   </wsdl:message>

   <wsdl:message name="removeProjectResponse">

   </wsdl:message>

   <wsdl:message name="getProjectsRequest">

   </wsdl:message>

   <wsdl:message name="getIterationRequest">

      <wsdl:part name="id" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getTimeEntryResponse">

      <wsdl:part name="getTimeEntryReturn" type="tns1:TimeEntryData"/>

   </wsdl:message>

   <wsdl:message name="getIterationsResponse">

      <wsdl:part name="getIterationsReturn" type="impl:ArrayOf_tns1_IterationData"/>

   </wsdl:message>

   <wsdl:message name="getIterationsRequest">

      <wsdl:part name="projectId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getAttributesResponse">

      <wsdl:part name="getAttributesReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="updateResponse2">

   </wsdl:message>

   <wsdl:message name="removeNoteRequest">

      <wsdl:part name="id" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addTaskResponse">

      <wsdl:part name="addTaskReturn" type="tns1:TaskData"/>

   </wsdl:message>

   <wsdl:message name="getTimeEntryRequest">

      <wsdl:part name="id" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addTaskRequest">

      <wsdl:part name="task" type="tns1:TaskData"/>

   </wsdl:message>

   <wsdl:message name="removeUserStoryResponse">

   </wsdl:message>

   <wsdl:message name="deleteAttributeResponse">

   </wsdl:message>

   <wsdl:message name="getNoteRequest">

      <wsdl:part name="id" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="updateRequest2">

      <wsdl:part name="object" type="tns1:IterationData"/>

   </wsdl:message>

   <wsdl:message name="getPersonRequest">

      <wsdl:part name="id" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getCurrentTasksForPersonRequest">

      <wsdl:part name="personId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getNoteResponse">

      <wsdl:part name="getNoteReturn" type="tns1:NoteData"/>

   </wsdl:message>

   <wsdl:message name="updateResponse">

   </wsdl:message>

   <wsdl:message name="updateRequest1">

      <wsdl:part name="object" type="tns1:ProjectData"/>

   </wsdl:message>

   <wsdl:message name="removeProjectRequest">

      <wsdl:part name="id" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="updateRequest">

      <wsdl:part name="object" type="tns1:TaskData"/>

   </wsdl:message>

   <wsdl:message name="getTasksRequest">

      <wsdl:part name="containerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addUserStoryResponse">

      <wsdl:part name="addUserStoryReturn" type="tns1:UserStoryData"/>

   </wsdl:message>

   <wsdl:message name="getNotesForObjectResponse">

      <wsdl:part name="getNotesForObjectReturn" type="impl:ArrayOf_tns1_NoteData"/>

   </wsdl:message>

   <wsdl:message name="removeTaskRequest">

      <wsdl:part name="id" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addIterationRequest">

      <wsdl:part name="iteration" type="tns1:IterationData"/>

   </wsdl:message>

   <wsdl:message name="QueryException">

      <wsdl:part name="fault" type="tns3:QueryException"/>

   </wsdl:message>

   <wsdl:message name="removeNoteResponse">

   </wsdl:message>

   <wsdl:message name="getTasksResponse">

      <wsdl:part name="getTasksReturn" type="impl:ArrayOf_tns1_TaskData"/>

   </wsdl:message>

   <wsdl:message name="addPersonResponse">

      <wsdl:part name="addPersonReturn" type="tns1:PersonData"/>

   </wsdl:message>

   <wsdl:message name="removeTimeEntryRequest">

      <wsdl:part name="id" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addTimeEntryResponse">

      <wsdl:part name="addTimeEntryReturn" type="tns1:TimeEntryData"/>

   </wsdl:message>

   <wsdl:message name="removeIterationResponse">

   </wsdl:message>

   <wsdl:message name="removeTaskResponse">

   </wsdl:message>

   <wsdl:message name="addIterationResponse">

      <wsdl:part name="addIterationReturn" type="tns1:IterationData"/>

   </wsdl:message>

   <wsdl:message name="updateRequest5">

      <wsdl:part name="object" type="tns1:UserStoryData"/>

   </wsdl:message>

   <wsdl:message name="getProjectResponse">

      <wsdl:part name="getProjectReturn" type="tns1:ProjectData"/>

   </wsdl:message>

   <wsdl:message name="getUserStoriesResponse">

      <wsdl:part name="getUserStoriesReturn" type="impl:ArrayOf_tns1_UserStoryData"/>

   </wsdl:message>

   <wsdl:message name="getPeopleResponse">

      <wsdl:part name="getPeopleReturn" type="impl:ArrayOf_tns1_PersonData"/>

   </wsdl:message>

   <wsdl:message name="getNotesForObjectRequest">

      <wsdl:part name="attachedToId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="updateResponse6">

   </wsdl:message>

   <wsdl:message name="updateRequest3">

      <wsdl:part name="object" type="tns1:PersonData"/>

   </wsdl:message>

   <wsdl:message name="getUserStoriesRequest">

      <wsdl:part name="containerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="updateResponse3">

   </wsdl:message>

   <wsdl:message name="getAttributeResponse">

      <wsdl:part name="getAttributeReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="removePersonRequest">

      <wsdl:part name="id" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="XPlanner">

      <wsdl:operation name="getAttributes" parameterOrder="objectId">

         <wsdl:input name="getAttributesRequest" message="impl:getAttributesRequest"/>

         <wsdl:output name="getAttributesResponse" message="impl:getAttributesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="update" parameterOrder="object">

         <wsdl:input name="updateRequest" message="impl:updateRequest"/>

         <wsdl:output name="updateResponse" message="impl:updateResponse"/>

      </wsdl:operation>

      <wsdl:operation name="update" parameterOrder="object">

         <wsdl:input name="updateRequest1" message="impl:updateRequest1"/>

         <wsdl:output name="updateResponse1" message="impl:updateResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="update" parameterOrder="object">

         <wsdl:input name="updateRequest2" message="impl:updateRequest2"/>

         <wsdl:output name="updateResponse2" message="impl:updateResponse2"/>

      </wsdl:operation>

      <wsdl:operation name="update" parameterOrder="object">

         <wsdl:input name="updateRequest3" message="impl:updateRequest3"/>

         <wsdl:output name="updateResponse3" message="impl:updateResponse3"/>

      </wsdl:operation>

      <wsdl:operation name="update" parameterOrder="note">

         <wsdl:input name="updateRequest4" message="impl:updateRequest4"/>

         <wsdl:output name="updateResponse4" message="impl:updateResponse4"/>

      </wsdl:operation>

      <wsdl:operation name="update" parameterOrder="object">

         <wsdl:input name="updateRequest5" message="impl:updateRequest5"/>

         <wsdl:output name="updateResponse5" message="impl:updateResponse5"/>

      </wsdl:operation>

      <wsdl:operation name="update" parameterOrder="object">

         <wsdl:input name="updateRequest6" message="impl:updateRequest6"/>

         <wsdl:output name="updateResponse6" message="impl:updateResponse6"/>

      </wsdl:operation>

      <wsdl:operation name="getAttribute" parameterOrder="objectId key">

         <wsdl:input name="getAttributeRequest" message="impl:getAttributeRequest"/>

         <wsdl:output name="getAttributeResponse" message="impl:getAttributeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setAttribute" parameterOrder="objectId key value">

         <wsdl:input name="setAttributeRequest" message="impl:setAttributeRequest"/>

         <wsdl:output name="setAttributeResponse" message="impl:setAttributeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getNote" parameterOrder="id">

         <wsdl:input name="getNoteRequest" message="impl:getNoteRequest"/>

         <wsdl:output name="getNoteResponse" message="impl:getNoteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="removeNote" parameterOrder="id">

         <wsdl:input name="removeNoteRequest" message="impl:removeNoteRequest"/>

         <wsdl:output name="removeNoteResponse" message="impl:removeNoteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getPerson" parameterOrder="id">

         <wsdl:input name="getPersonRequest" message="impl:getPersonRequest"/>

         <wsdl:output name="getPersonResponse" message="impl:getPersonResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addTask" parameterOrder="task">

         <wsdl:input name="addTaskRequest" message="impl:addTaskRequest"/>

         <wsdl:output name="addTaskResponse" message="impl:addTaskResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getIterations" parameterOrder="projectId">

         <wsdl:input name="getIterationsRequest" message="impl:getIterationsRequest"/>

         <wsdl:output name="getIterationsResponse" message="impl:getIterationsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getUserStories" parameterOrder="containerId">

         <wsdl:input name="getUserStoriesRequest" message="impl:getUserStoriesRequest"/>

         <wsdl:output name="getUserStoriesResponse" message="impl:getUserStoriesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTasks" parameterOrder="containerId">

         <wsdl:input name="getTasksRequest" message="impl:getTasksRequest"/>

         <wsdl:output name="getTasksResponse" message="impl:getTasksResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTimeEntries" parameterOrder="containerId">

         <wsdl:input name="getTimeEntriesRequest" message="impl:getTimeEntriesRequest"/>

         <wsdl:output name="getTimeEntriesResponse" message="impl:getTimeEntriesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCurrentIteration" parameterOrder="projectId">

         <wsdl:input name="getCurrentIterationRequest" message="impl:getCurrentIterationRequest"/>

         <wsdl:output name="getCurrentIterationResponse" message="impl:getCurrentIterationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getProject" parameterOrder="id">

         <wsdl:input name="getProjectRequest" message="impl:getProjectRequest"/>

         <wsdl:output name="getProjectResponse" message="impl:getProjectResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTask" parameterOrder="id">

         <wsdl:input name="getTaskRequest" message="impl:getTaskRequest"/>

         <wsdl:output name="getTaskResponse" message="impl:getTaskResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getPeople">

         <wsdl:input name="getPeopleRequest" message="impl:getPeopleRequest"/>

         <wsdl:output name="getPeopleResponse" message="impl:getPeopleResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getProjects">

         <wsdl:input name="getProjectsRequest" message="impl:getProjectsRequest"/>

         <wsdl:output name="getProjectsResponse" message="impl:getProjectsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addProject" parameterOrder="project">

         <wsdl:input name="addProjectRequest" message="impl:addProjectRequest"/>

         <wsdl:output name="addProjectResponse" message="impl:addProjectResponse"/>

      </wsdl:operation>

      <wsdl:operation name="removeProject" parameterOrder="id">

         <wsdl:input name="removeProjectRequest" message="impl:removeProjectRequest"/>

         <wsdl:output name="removeProjectResponse" message="impl:removeProjectResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getIteration" parameterOrder="id">

         <wsdl:input name="getIterationRequest" message="impl:getIterationRequest"/>

         <wsdl:output name="getIterationResponse" message="impl:getIterationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addIteration" parameterOrder="iteration">

         <wsdl:input name="addIterationRequest" message="impl:addIterationRequest"/>

         <wsdl:output name="addIterationResponse" message="impl:addIterationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="removeIteration" parameterOrder="id">

         <wsdl:input name="removeIterationRequest" message="impl:removeIterationRequest"/>

         <wsdl:output name="removeIterationResponse" message="impl:removeIterationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getUserStory" parameterOrder="id">

         <wsdl:input name="getUserStoryRequest" message="impl:getUserStoryRequest"/>

         <wsdl:output name="getUserStoryResponse" message="impl:getUserStoryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addUserStory" parameterOrder="story">

         <wsdl:input name="addUserStoryRequest" message="impl:addUserStoryRequest"/>

         <wsdl:output name="addUserStoryResponse" message="impl:addUserStoryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="removeUserStory" parameterOrder="id">

         <wsdl:input name="removeUserStoryRequest" message="impl:removeUserStoryRequest"/>

         <wsdl:output name="removeUserStoryResponse" message="impl:removeUserStoryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCurrentTasksForPerson" parameterOrder="personId">

         <wsdl:input name="getCurrentTasksForPersonRequest" message="impl:getCurrentTasksForPersonRequest"/>

         <wsdl:output name="getCurrentTasksForPersonResponse" message="impl:getCurrentTasksForPersonResponse"/>

         <wsdl:fault name="QueryException" message="impl:QueryException"/>

      </wsdl:operation>

      <wsdl:operation name="getPlannedTasksForPerson" parameterOrder="personId">

         <wsdl:input name="getPlannedTasksForPersonRequest" message="impl:getPlannedTasksForPersonRequest"/>

         <wsdl:output name="getPlannedTasksForPersonResponse" message="impl:getPlannedTasksForPersonResponse"/>

         <wsdl:fault name="QueryException" message="impl:QueryException"/>

      </wsdl:operation>

      <wsdl:operation name="removeTask" parameterOrder="id">

         <wsdl:input name="removeTaskRequest" message="impl:removeTaskRequest"/>

         <wsdl:output name="removeTaskResponse" message="impl:removeTaskResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTimeEntry" parameterOrder="id">

         <wsdl:input name="getTimeEntryRequest" message="impl:getTimeEntryRequest"/>

         <wsdl:output name="getTimeEntryResponse" message="impl:getTimeEntryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addTimeEntry" parameterOrder="timeEntry">

         <wsdl:input name="addTimeEntryRequest" message="impl:addTimeEntryRequest"/>

         <wsdl:output name="addTimeEntryResponse" message="impl:addTimeEntryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="removeTimeEntry" parameterOrder="id">

         <wsdl:input name="removeTimeEntryRequest" message="impl:removeTimeEntryRequest"/>

         <wsdl:output name="removeTimeEntryResponse" message="impl:removeTimeEntryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addNote" parameterOrder="note">

         <wsdl:input name="addNoteRequest" message="impl:addNoteRequest"/>

         <wsdl:output name="addNoteResponse" message="impl:addNoteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getNotesForObject" parameterOrder="attachedToId">

         <wsdl:input name="getNotesForObjectRequest" message="impl:getNotesForObjectRequest"/>

         <wsdl:output name="getNotesForObjectResponse" message="impl:getNotesForObjectResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addPerson" parameterOrder="object">

         <wsdl:input name="addPersonRequest" message="impl:addPersonRequest"/>

         <wsdl:output name="addPersonResponse" message="impl:addPersonResponse"/>

      </wsdl:operation>

      <wsdl:operation name="removePerson" parameterOrder="id">

         <wsdl:input name="removePersonRequest" message="impl:removePersonRequest"/>

         <wsdl:output name="removePersonResponse" message="impl:removePersonResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteAttribute" parameterOrder="objectId key">

         <wsdl:input name="deleteAttributeRequest" message="impl:deleteAttributeRequest"/>

         <wsdl:output name="deleteAttributeResponse" message="impl:deleteAttributeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAttributesWithPrefix" parameterOrder="objectId prefix">

         <wsdl:input name="getAttributesWithPrefixRequest" message="impl:getAttributesWithPrefixRequest"/>

         <wsdl:output name="getAttributesWithPrefixResponse" message="impl:getAttributesWithPrefixResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="XPlannerSoapBinding" type="impl:XPlanner">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAttributes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAttributesRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getAttributesResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest1">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="updateResponse1">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest2">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="updateResponse2">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest3">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="updateResponse3">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest4">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="updateResponse4">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest5">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="updateResponse5">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest6">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="updateResponse6">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAttribute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAttributeRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getAttributeResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setAttribute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setAttributeRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="setAttributeResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNoteRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getNoteResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeNote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeNoteRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="removeNoteResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPersonRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getPersonResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addTaskRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="addTaskResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getIterations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getIterationsRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getIterationsResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserStories">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserStoriesRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getUserStoriesResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTasks">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTasksRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getTasksResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTimeEntries">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTimeEntriesRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getTimeEntriesResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCurrentIteration">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCurrentIterationRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getCurrentIterationResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProject">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProjectRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getProjectResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTaskRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getTaskResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPeople">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPeopleRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getPeopleResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProjects">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProjectsRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getProjectsResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addProject">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addProjectRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="addProjectResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeProject">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeProjectRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="removeProjectResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getIteration">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getIterationRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getIterationResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addIteration">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addIterationRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="addIterationResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeIteration">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeIterationRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="removeIterationResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserStory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserStoryRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getUserStoryResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUserStory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUserStoryRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="addUserStoryResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeUserStory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeUserStoryRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="removeUserStoryResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCurrentTasksForPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCurrentTasksForPersonRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getCurrentTasksForPersonResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

         <wsdl:fault name="QueryException">

            <wsdlsoap:fault name="QueryException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getPlannedTasksForPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPlannedTasksForPersonRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getPlannedTasksForPersonResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

         <wsdl:fault name="QueryException">

            <wsdlsoap:fault name="QueryException" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeTaskRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="removeTaskResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTimeEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTimeEntryRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getTimeEntryResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addTimeEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addTimeEntryRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="addTimeEntryResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeTimeEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeTimeEntryRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="removeTimeEntryResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addNote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addNoteRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="addNoteResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNotesForObject">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNotesForObjectRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getNotesForObjectResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addPersonRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="addPersonResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removePerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removePersonRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="removePersonResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteAttribute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteAttributeRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="deleteAttributeResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAttributesWithPrefix">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAttributesWithPrefixRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.xplanner.technoetic.com"/>

         </wsdl:input>

         <wsdl:output name="getAttributesWithPrefixResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="XPlannerService">

      <wsdl:port name="XPlanner" binding="impl:XPlannerSoapBinding">

         <wsdlsoap:address location="http://dev.pappin.ca/xplanner-dev/soap/XPlanner"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
